<%- include('partials/header') -%>
<div class="jumbotron-fluid">
    <div class="container" style="text-align: center;">
        <h1 style="color: #100c08;">JUST A CARTOON SITE</h1>
        <h4>
            THIS WEBSITE IS MADE USING <span style="font-weight:bold;">BOOTSTRAP</span> AND <span
                style="font-weight:bold;">NODE.JS</span> (EXPRESS)
            <br />
            AUTHENTICATION IS DONE USING<span style="font-weight:bold;"> PASSPORT.JS</span>.
            <br />
            <span style="font-weight:bold;">MONGODB</span> IS USED TO HANDLE DATABASE MANAGEMENT AND QUERYING.
            <br />
            ALSO USED A WEATHER API.
        </h4>

    </div>
    <br />
    <hr />
    <footer class="footer" style="text-align: center;color: teal;">
        Deepanshu Johar
    </footer>
</div>
<%-include('partials/footer')-%>