<%-include('partials/header')-%>

<h1>
    DEEPANSHU JOHAR
</h1>

<h5>
    MERN STACK DEVELOPER<br />
    LOOKING FOR A SHIP WHICH IS IN TURN!!!
    <br />
    <br />
    DM FOR COLLABORATIONS...
    <br />
    WOULD LOVE ? SHARE < PROGRAMMING> THOUGHTS!! : AND { "CODES" : "<span style="color:lightskyblue">true</span>" }
        <br />

</h5>
<br />
<section id="lab_social_icon_footer">
    <!-- Include Font Awesome Stylesheet in Header -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <div class="container">
        <div class="text-center center-block">
            <a target="_blank" href="https://www.facebook.com/profile.php?id=100005034138064"><i id="social-fb"
                    class="fa fa-facebook-square fa-3x social"></i></a>
            <a target="_blank" href="https://twitter.com/johar_deepanshu"><i id="social-tw"
                    class="fa fa-twitter-square fa-3x social"></i></a>
            <a target="_blank"
                href="https://www.linkedin.com/in/deepanshu-johar-399521189?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BpkY4xFOpR3Cprxo16L%2FxDg%3D%3D"><i
                    id="social-gp" class="fa fa-linkedin-square fa-3x social"></i></a>
            <a target="_blank" href="https://github.com/deepanshu-j"><i id="social-em"
                    class="fa fa-github-square fa-3x social"></i></a>
        </div>
    </div>
</section>

<br />SEE YA!!
</div>

<%-include('partials/footer')-%>