<%-include('partials/header')-%>
<div class="container">
    <form class="was-validated" method="POST" action="/signup">
        <div class="form-group">
            <div class="mb-3">
                <label for="userName">New UserName</label>
                <input class="form-control is-invalid" id="userName" name="username" placeholder="UserName"
                    required></input>
                <div class="invalid-feedback">
                    Please enter a userName for your account.
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="mb-3">
                <label for="passWord">New Password</label>
                <input class="form-control is-invalid" id="passWord" name="password" placeholder="Password" required
                    type="password"></input>
                <div class="invalid-feedback">
                    Please enter a Password for your account.
                </div>
            </div>
        </div>
        <button class="btn btn-primary">signUp</button>
    </form>
</div>
<%-include('partials/footer')-%>