<%-include('partials/header')-%>
<div class="weather">
    <h1>
        Temprature: <%= temp%> celcius

    </h1>
    <h2>
        nature:<%=nature%>
    </h2>
</div>
<%-include('partials/footer')-%>